ENVIRONMENT=dev

PORT=8000
CORS_ORIGINS=[]

POSTGRES__HOST=localhost
POSTGRES__PORT=5432
POSTGRES__USER=postgres
POSTGRES__PASSWORD=password
POSTGRES__DB=postgres

REDIS__HOST=localhost
REDIS__PORT=6379